In [1]:
old_age = input("enter your old age ? ")
new_age = int(old_age) + 2
print(new_age)

enter your old age ? 30
32

In [2]:
print(float(18))

18.0

In [3]:
n = 20
print(float(n))

20.0

In [4]:
n1 = input("enter first number : ")
n2 = input("enter second number : ")
n3 = input("enter third number : ")
total = int(n1) + int(n2) + int(n3)
print(total)

enter first number : 16
enter second number : 18
enter third number : 20
54

In [5]:
n1 = input("enter first number : ")
n2 = input("enter second number : ")
n3 = input("enter third number : ")
total = int(n1) + int(n2) + int(n3)
print( "the sum is : " + str(total) )

enter first number : 24
enter second number : 28
enter third number : 32
the sum is : 84