In [1]:
name = "ALAN WALKER"
age = 48
print(name)
print(age)

ALAN WALKER
48

In [2]:
print(name)
print(age)

ALAN WALKER
48

In [3]:
name = "JAMES WATT"
age = 42
print(name)
print(age)

JAMES WATT
42

In [4]:
print(name)
print(age)

JAMES WATT
42

In [5]:
name = "TONY STARK"
age = 52.80
is_adult = True
print(name)
print(age)
print(is_adult)

TONY STARK
52.8
True

In [6]:
name = "TONY STARK"
age = 52.8
is_adult = True
print(name)
print(age)
print(is_adult)

TONY STARK
52.8
True

In [7]:
name = "TONY STARK"
age = 52.0
is_adult = True
print(name)
print(age)
print(is_adult)

TONY STARK
52.0
True

In [8]:
first_name = "Tony"
last_name = "Stark"
age = 52
is_genius = True
print(first_name)
print(last_name)
print(age)
print(is_genius)

Tony
Stark
52
True